*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial,sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

.tag{
     align-items: center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttons {
    border: 1px solid black;
    width: 1200px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.filter-btn {
    width: 100px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 6px;
    color: white;
     background-color: grey;
     cursor: pointer;
}

.gallery {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;

}

.gallery .image {
  width: 300px;
  display: none;
}

 .gallery img {
  width: 100%;
  border-radius:10px;
  padding-bottom: 10px;
}


