*{
    margin: 0px;
    padding: 0px;
}
.row1 {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
    align-items: center;
    text-align: center;
}