*{
			margin: 0px;
			padding: 0px;
		}
		.row1{
			width: 1000px;
			height: 600px;
			border: 1px solid blue;
			margin: auto;
			background-image: url('../images/1.jpg');
			margin-top: 100px;
			background-size: contain;
			background-size: 100% 100%;

		}