@media only screen and (min-width:  1025px) and (max-width:  1440px){

	body {
       background-color: black;
	}
}
@media only screen and (min-width:  769px) and (max-width:  1024px){

	body {
        background-color: black;
	}
}
@media only screen and (min-width:  426px) and (max-width:  768px){

	body {
		 background-color: black;
	}
}
@media only screen and (min-width:  376px) and (max-width:  425px){

	body {
		 background-color: black;
	}
}
@media only screen and (min-width:  321px) and (max-width:  375px){

	body {
		 background-color: black;
	}
}
@media only screen and (min-width:  0px) and (max-width:  320px){

	body {
		 background-color: black;
	}
}