*{
    margin: 0px;
    padding: 0px;
     margin: auto;
}

body{
    font-family: "Libertinus Sans", sans-serif;
}

.question_answer{
    width: 1100px;
    margin-top: 20px;
    border: 1px solid #EFEFEF; 
    border-radius: 5px; 
    cursor: pointer;
}

/* .icon{
    margin-left: 1060px;
    font-size: 15px;
    padding-top: 1px;
} */

.question{
    /* display: flex; */
    /* justify-content: space-around; */
    border: 0px solid black;
    height: 40px;
    /* font-weight: bold; */
    font-size: 20px;
    padding: 10px 10px;
    box-sizing: border-box;
    align-items: center; 
     padding: 10px 15px;
    background-color: #F5F5F5;
    position: relative;
}

.answer{
    border: 0px solid black;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px;
    box-sizing: border-box;
    display: none;
}

.arrow {
    font-weight: bold;
  font-size:28px;
  /* margin: 2px; */
  margin-left:  1050px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  /* margin-bottom: 8px; */   
  position: absolute;
  top: 10px;
}

.arrow i{
    font-size: 14px;
}



.active{
    display: block;
}







