*{
	margin: 0px;
	padding: 0px;
}
.pagesheet{
	width: 1000px;
	border: 3px solid deeppink;
	margin: auto;
    height: 700px;
    margin-top: 80px;
    background-color: black;
    color: white;
}

.innerDiv{
	width: 1000px;
	display: flex;
	border-radius: 15px;
	text-align: center;
	margin: 2%;
	flex-wrap: wrap;
	
}
.box{
   width: 30%;
   border: 1px solid blue;
   background: white;
   margin: 1%;
   border-radius: 15px;
}
body{
	background: brown;
}
.heading{
      width: 1000px;
      height: 80px;
    
      text-align: center;
      text-transform: capitalize;
      padding: 30px;
}
.figure img{
           width: 70px;
         
}
.paragraph p{
	color: black;
	line-height: 20px;
	word-spacing: 15px;
}
.paragraph h2{
	color: black;
}